/*
Your styles should go in here.
Use any styles of your choosing, the solution should support the latest browsers -1.
*/

.address{
    color: grey;
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
   
    
}
body{
    background-color: deepskyblue;
    font-family: 'Roboto', sans-serif;
}
img{
    float: left;
    border-radius: 50%;
    width: 23%;
    position: inline;
     
}
.flexi-container{
    display: flex;
    background-color: white;
    width: 380px;
    flex-direction: column;
    padding-right: 0;
    margin: 30px auto;
     
}
  .text1 {
    font-size: 20px;
    
    padding-bottom: 20px;
    
  }
li{
    list-style-type: none;
}
.list li{
    border-bottom: 1px solid #aaaaaa;
    border-bottom-width: 50%;
    margin: 30px 0 40px 0;
    margin-right: 40px;
    
}
.list li:last-child {
    border: none;
}
p{
    margin: 0;
    padding: 0 0 0 90px;
    position: inline;

}

button{
    display: flex;
    background-color: white;
    width: 100px;
    flex-direction: column;
    padding-right: 0;
    margin: 10px auto;
}

.myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
}