/*
Your styles should go in here.
Use any styles of your choosing, the solution should support the latest browsers -1.
*/

.address{
    color: grey;
    font-size: 16px;
    padding-bottom: 20px;
    
   
}

body{
    background-color: deepskyblue;
}
img{
    float: left;
    border-radius: 50%;
    width: 23%;
    position: inline;
     
}
.flexi-container{
    display: flex;
    background-color: white;
    width: 380px;
    flex-direction: column;
    padding-right: 0;
    margin: 30px auto;
     
}
  .text1 {
    font-size: 24px;
    display: inline;
    padding-left: 20px; 
    
  }
li{
    list-style-type: none;
}
.list li{
    border-bottom: 1px solid #aaaaaa;
    border-bottom-width: 50%;
    margin: 20px 0 40px 0;
}
p{
    margin: 0;
    padding: 0 0 0 90px;
    position: inline;

}